<h3>Write a few more Words please.</h3>

<%= form_for [ @bar, @idea ] do |f| %>
  <ul>
  <% @idea.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    Username please. <br />
    <%= f.text_field :author %>
  </p>
  <p>
    One true sentence please. <br />
    <%= f.text_field :truth %>
  </p>
  <p>
    Your thoughts please. <br />
  <%= f.text_area :body %>
  </p>
  <p>
    Names and amounts of beverages consumed please.<br />
    <%= f.text_area :bev_and_food %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
