<div class="transbox">
<h1><%= @idea.truth %></h1>
<p><%= @idea.author %></p>
<p><%= @idea.body %></p>
<p><%= @idea.bev_and_food %></p>
<p><%= @idea.updated_at.strftime("Updated at: " + "%A" + ", " + "%b-%d-%Y") %></p>
<p><%= @idea.created_at.strftime("Created at: " + "%A" + ", " + "%b-%d-%Y") %></p>


<%= link_to "delete", idea_path(@idea), method: :delete, data: {confirm: "Do you actually want to delete this?"} %>
<%= link_to "edit", edit_idea_path(@idea) %>
</div>
