<h5>
<%= form_for(@bar) do |f| %>
  <ul>
  <% @bar.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<hr>    <%= f.label :name %><br />
    <%= f.text_field :name %>
<hr>    <%= f.label :address %><br />
    <%= f.text_field :address %>
<hr>
    <div id="textbox"
    <%= f.label :about %><br />
    <%= f.text_area :about, :size => "30x3" %>
</div>
    <%= f.submit %>
<% end %>
<h5>
