<h2 class="title"><%= @bar.name %></h2>
<hr>
<h5><p>Address: <%= @bar.address %></p>
  <hr>
<p style="white-space: pre-line">About: <%= @bar.about %></p>
<hr>
<h3> Past Words </h3>
<%= render partial: 'bars/idea', collection: @bar.ideas %>
<hr>
<%= render partial: 'ideas/form' %>
<%= link_to "<< Back to The Scene", bars_path %>
<%= link_to "Delete", bar_path(@bar), method: :delete, data: {confirm: "Really delete this bar?"} %>
<%= link_to "Edit", edit_bar_path(@bar) %>
