<p id="notice"><%= notice %></p>

<h2 class="title">The Writers</h1>

<h5>
  <!-- <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <!-- <th>Password</th>
      <th>Password confirmation</th> -->
      <!-- <th colspan="3"></th>
    </tr>
  </thead> -->

  <ul>

    <% @creators.each do |creator| %>
      <li>
        <%= creator.username %> |
        <%= creator.email %> |
        <!-- <td><%= creator.password %></td>
        <td><%= creator.password_confirmation %></td> -->
        <%= link_to 'Show', creator %> |
        <%= link_to 'Edit', edit_creator_path(creator) %>
  <!-- <td><%= link_to 'Destroy', creator, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

</li>
<hr>
    <% end %>
  </ul>
</h5>

<h2 class="title"><%= link_to 'New Writer', new_creator_path %></h2>
