<p id="notice"><%= notice %></p>

<h2 class="title">
  <%= @creator.username %>
</h2>

<hr>
<h5 style="white-space: pre-line">
  <strong>Email:</strong>
  <%= @creator.email %>
<hr>
  <strong>Bio(Tell us a little about yourself): </strong>
<%= @creator.bio %>
</h5>

<!-- <p>
  <strong>Password:</strong>
  <%= @creator.password %>
</p>

<p>
  <strong>Password confirmation:</strong>
  <%= @creator.password_confirmation %>
</p> -->

<%= link_to 'Edit', edit_creator_path(@creator) %> |
<%= link_to 'Back', creators_path %>
