<!DOCTYPE html>
<html>
<head>
  <title>HemingwayRailsApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="content">
    <%= yield %>
    <hr>
    <h6>
      <% if logged_in? %>
    <%= "Logged in as #{current_user.email}" %>
    <%= link_to "Logout", logout_path %>
    <% else %>
    <%= link_to "Login", login_path %>
    <% end %>
    <!-- <%= link_to "Home", articles_path %> -->
  </h6>
</div>
</div>
</body>
</html>
