<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900italic|Playfair+Display+SC:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <title>HemingwayRailsApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid bin">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/welcome">CWS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>  <%= link_to "The Scene", bars_path %>
</li>
        <li>  <%= link_to "The Word", ideas_path %>
</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <span class="glyphicon glyphicon-log-in">  <%= link_to "Login", login_path %></span>
</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-md-12 text-center">
      <h1 class="creativity">Creativity</h1>
    </div>
    <div class="col-md-12 text-center pic">
      <h1 class="with">~WITH~</h1>
    </div>
    <div class="col-md-12 text-center">
      <h1 class="style">Style</h1>
</div>
</div>


</div>

<hr>

<div class="container-fluid text-center content">


<%= yield %>



</div>

<footer class="container-fluid text-center">
  <h5><%= link_to "Add to the Word", new_idea_path %></h5>

  <h5><%= link_to "Add to the Scene", new_bar_path %></h5>

  <p><h5><a href="http://www.davidjhickey.com">David Hickey 2016&copy;</a></h5></p>
</footer>

</div>

</body>




<!-- <body>
<div id="container">
  <h1>Creativity with Style</h1>

    <h3>
      <% if logged_in? %>
    <%= "Logged in as #{current_user.username}" %>
    <%= link_to "Logout", logout_path %>
    <% else %>
    <%= link_to "Login", login_path %>
    <% end %>
    <!-- <%= link_to "Home", ideas_path %> -->
  <!-- </h3>
  <h3>
  <%= link_to "Add to The Scene", new_bar_path, class: "new_bar" %>
  <%= link_to "The Writers", creators_path %>
  <%= link_to "The Scene", bars_path %>
  <%= link_to "The Word", ideas_path %>
  <a href="https://www.google.com/maps">Google Maps</a>
</h3>
</div> -->
  <!-- <%= yield %> -->
<!-- </body> -->
</html>
